<?xml version="1.0" encoding="utf-8"?>
<phpunit bootstrap="vendor/autoload.php" colors="true">
    <php>
        <var name="host" value="google.hu" />
        <var name="port" value="80" />
        <var name="username" value="user" />
        <var name="password" value="123" />
        <var name="socket" value="/tmp/supervisor.sock" />
    </php>
    <testsuites>
        <testsuite name="Indigo Supervisor Test Suite">
            <directory>tests/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">src/</directory>
            <exclude>
                <directory suffix=".php">src/Command</directory>
            </exclude>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-html" target="./coverage" charset="UTF-8" yui="true" highlight="false" lowUpperBound="49" highLowerBound="75"/>
        <log type="coverage-text" target="php://stdout" showUncoveredFiles="true"/>
    </logging>
</phpunit>